<footer>
	<div id="footer-left">
		<a href="mailto:zhehao.zhang.gr@dartmouth.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://x.com/Zhehao_Zhang123"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/zzh-SJTU"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=QG-BAGwAAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Zhehao Zhang
	</div>
	<div id="footer-right">
		Zhehao Zhang is a PhD Student in Computer Science & Engineering at The Ohio State University researching Language Agent Safety and Robustness of Large Language Models.
	</div>
</footer>
